
#regions_div{
  min-height: 450px;
  width:100%;
  height:100%;
}


@media only screen and (max-width: 500px) {
    #regions_div {
        min-height: 70px;
        width:100%;
        height:100%;
    }
}
